<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>МИУ</title>
    <meta charset="UTF-8">

    <link rel="icon" href="http://miu.by/img/logo2.gif">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700|Roboto:300,400,700" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../static/css/flaticon.css" th:href="@{/css/flaticon.css}"/>
    <link rel="stylesheet" href="../static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}"/>
    <link rel="stylesheet" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Header section -->
<header class="header-section">
    <div class="logo" style=" font-size: 24px;">
        МИУ Современные технологии разработки web-приложений
    </div>
    <!-- Navigation -->
    <div class="responsive"><i class="fa fa-bars"></i></div>
    <nav>
        <ul class="menu-list">
            <li><a href="../miu-modern-web-technologies">Главная</a></li>
            <li><a href="../miu-modern-web-technologies/server">Сервер</a></li>
            <li class="active"><a href="../miu-modern-web-technologies/database">Базы данных</a></li>
            <li><a href="../miu-modern-web-technologies/client-server">Клиент-сервер</a></li>
            <li><a href="../miu-modern-web-technologies/html5-css3">HTML5 и CSS3</a></li>
            <li><a href="../miu-modern-web-technologies/web-socket">Веб сокеты</a></li>
        </ul>
    </nav>
</header>
<!-- Header section end -->


<!-- content section -->
<div class="about-section">
    <div class="about-contant">
        <div class="container">

            <div class="section-title">
                <h2>Здравствуйте!</h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 style="  color: white;">Базы данных</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3 style="  color: white;">Введение</h3>
                    <p>База данных (БД) — это организованная структура, предназначенная для хранения, изменения и
                        обработки взаимосвязанной информации, преимущественно больших объемов. Базы данных активно
                        используются для динамических сайтов со значительными объемами данных — часто это
                        интернет-магазины, порталы, корпоративные сайты. Такие сайты обычно разработаны с помощью
                        серверного языка программирования (как пример, PHP) или на основе CMS (как пример, WordPress), и
                        не имеют готовых страничек с данными по аналогии с HTML-сайтами. Странички динамических сайтов
                        формируются «на лету» в результате взаимодействия скриптов и баз данных после соответствующего
                        запроса клиента к веб-серверу.</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h3 style="  color: white;"> Система управления базами данных</h3>
                    <p>
                        В контексте баз данных стоит рассмотреть понятие СУБД. Система управления базами данных (СУБД) —
                        это комплекс программных средств, необходимых для создания структуры новой базы, ее наполнения,
                        редактирования содержимого и отображения информации. Наиболее распространенными СУБД являются
                        MySQL, PostgreSQL, Oracle, Microsoft SQL Server. Аренда виртуального хостинга от HOSTiQ.ua
                        предполагает использование MariaDB — ответвление СУБД MySQL, а также PostgreSQL. Если же,
                        например, вы планируете купить VPS или сервер в Европе или США, то вы сами сможете определить ПО
                        для ваших баз данных.

                        Это СУБД примеры типа клиент-сервер, именно такие СУБД встречаются чаще всего в контексте
                        понятия хостинга. Их особенности:</p>
                    <div><p> - расположение СУБД на сервере с базами данных;</p></div>
                    <div><p>- непосредственный доступ к БД;</p></div>
                    <div><p>- централизованная обработка клиентских запросов на обработку данных;</p></div>
                    <div><p> - высокий уровень надежности, доступности и безопасности;</p></div>
                    <div><p>- повышенная нагрузка на сервер.</p></div>
                    <div><p> В свою очередь, для удобства работы с СУБД используются специальные веб-приложения, которые
                        позволяют посредством графического интерфейса выполнять администрирование сервера баз данных,
                        запускать специальные команды, а также работать с контентом таблиц и баз данных — действия,
                        которые при отсутствии веб-приложения подлежат выполнению средствами консоли. Примеры:
                        phpMyAdmin используется для администрирования СУБД MySQL, pgAdmin — для PostgreSQL. Эти
                        программы управления базами данных вы найдете и в cPanel на нашем виртуальном хостинге.</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h3 style="  color: white;">SQL</h3>
                    <p>
                        SQL является прежде всего информационно-логическим языком, предназначенным для описания,
                        изменения и извлечения данных, хранимых в реляционных базах данных. SQL можно назвать языком
                        программирования, при этом он не является тьюринг-полным, но вместе с тем стандарт языка
                        спецификацией SQL/PSM предусматривает возможность его процедурных расширений.

                        Изначально SQL был основным способом работы пользователя с базой данных и позволял выполнять
                        следующий набор операций:

                        создание в базе данных новой таблицы;
                        добавление в таблицу новых записей;
                        изменение записей;
                        удаление записей;
                        выборка записей из одной или нескольких таблиц (в соответствии с заданным условием);
                        изменение структур таблиц.
                        Со временем SQL усложнился — обогатился новыми конструкциями, обеспечил возможность описания и
                        управления новыми хранимыми объектами (например, индексы, представления, триггеры и хранимые
                        процедуры) — и стал приобретать черты, свойственные языкам программирования.

                        При всех своих изменениях SQL остаётся единственным механизмом связи между прикладным
                        программным обеспечением и базой данных. В то же время современные СУБД, а также информационные
                        системы, использующие СУБД, предоставляют пользователю развитые средства визуального построения
                        запросов.
                    </p>
                    <div><p>Язык SQL представляет собой совокупность

                        операторов
                        инструкций
                        вычисляемых функций
                        Операторы
                        Согласно общепринятому стилю программирования, операторы (и другие зарезервированные слова) в
                        SQL обычно рекомендуется писать прописными буквами.[8]</p></div>

                    <div><p> Операторы SQL делятся на:</p></div>

                    <div><p> операторы определения данных (Data Definition Language, DDL):</p></div>
                    <div><p> CREATE создаёт объект БД (саму базу, таблицу, представление, пользователя и т. д.),</p>
                    </div>
                    <div><p> ALTER изменяет объект,</p></div>
                    <div><p> DROP удаляет объект;</p></div>
                    <div><p> операторы манипуляции данными (Data Manipulation Language, DML):</p></div>
                    <div><p> SELECT выбирает данные, удовлетворяющие заданным условиям,</p></div>
                    <div><p> INSERT добавляет новые данные,</p></div>
                    <div><p> UPDATE изменяет существующие данные,</p></div>
                    <div><p> DELETE удаляет данные;</p></div>
                    <div><p> операторы определения доступа к данным (Data Control Language, DCL):</p></div>
                    <div><p> GRANT предоставляет пользователю (группе) разрешения на определённые операции с
                        объектом,</p></div>
                    <div><p> REVOKE отзывает ранее выданные разрешения,</p></div>
                    <div><p> DENY задаёт запрет, имеющий приоритет над разрешением;</p></div>
                    <div><p> операторы управления транзакциями (Transaction Control Language, TCL):</p></div>
                    <div><p> COMMIT применяет транзакцию,</p></div>
                    <div><p> ROLLBACK откатывает все изменения, сделанные в контексте текущей транзакции,</p></div>
                    <div><p> SAVEPOINT делит транзакцию на более мелкие участки. </p></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3 style="  color: white;">Преимущества SQL</h3>

                    <div><p>Независимость от конкретной СУБД
                        Несмотря на наличие диалектов и различий в синтаксисе, в большинстве своём тексты SQL-запросов,
                        содержащие DDL и DML, могут быть достаточно легко перенесены из одной СУБД в другую. Существуют
                        системы, разработчики которых изначально ориентировались на применение по меньшей мере
                        нескольких СУБД (например: система электронного документооборота Documentum может работать как с
                        Oracle Database, так и с Microsoft SQL Server и DB2). Естественно, что при применении некоторых
                        специфичных для реализации возможностей такой переносимости добиться уже очень трудно.</p></div>

                    <div><p> Наличие стандартов
                        Наличие стандартов и набора тестов для выявления совместимости и соответствия конкретной
                        реализации SQL общепринятому стандарту только способствует «стабилизации» языка. Правда, стоит
                        обратить внимание, что сам по себе стандарт местами чересчур формализован и раздут в размерах
                        (например, базовая часть стандарта SQL:2003 состоит из более чем 1300 страниц текста).</p></div>

                    <div><p>Декларативность
                        С помощью SQL программист описывает только то, какие данные нужно извлечь или модифицировать.
                        То, каким образом это сделать, решает СУБД непосредственно при обработке SQL-запроса. Однако не
                        стоит думать, что это полностью универсальный принцип — программист описывает набор данных для
                        выборки или модификации, однако ему при этом полезно представлять, как СУБД будет разбирать
                        текст его запроса. Чем сложнее сконструирован запрос, тем больше он допускает вариантов
                        написания, различных по скорости выполнения, но одинаковых по итоговому набору данных.</p></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3 style="  color: white;">Недостатки SQL</h3>

                    <div><p>Несоответствие реляционной модели данных
                        Создатели реляционной модели данных Эдгар Кодд, Кристофер Дейт и их сторонники указывают на то,
                        что SQL не является истинно реляционным языком. В частности, они указывают на следующие дефекты
                        SQL с точки зрения реляционной теории[9]:

                        SQL разрешает в таблицах строки-дубликаты, что в рамках реляционной модели данных невозможно и
                        недопустимо;
                        SQL поддерживает неопределённые значения (NULL) и многозначную логику;
                        SQL использует порядок колонок и ссылки на колонки по номерам;
                        SQL разрешает колонки без имени и дублирующиеся имена колонок.
                        В опубликованном Кристофером Дейтом и Хью Дарвеном Третьем манифесте[10] они излагают принципы
                        СУБД следующего поколения и предлагают язык Tutorial D, который является подлинно
                        реляционным.</p></div>

                    <div><p> Сложность
                        Хотя SQL и задумывался как средство работы конечного пользователя, в конце концов он стал
                        настолько сложным, что превратился в инструмент программиста.</p></div>

                    <div><p>Сложность работы с иерархическими структурами
                        Ранее диалекты SQL большинства СУБД не предлагали способа манипуляции древовидными структурами.
                        Некоторые поставщики СУБД предлагали свои решения (например, в Oracle Database используется
                        выражение CONNECT BY). В настоящее время в ANSI стандартизована рекурсивная конструкция WITH из
                        диалекта SQL DB2. В Microsoft SQL Server рекурсивные запросы (Recursive Common Table
                        Expressions) появились лишь в версии 2005.</p></div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h3></h3>
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content section end -->


<!-- Footer section -->
<footer class="footer-section">
    <h2>2019 All rights reserved. Done by <a href="https://github.com/llka" target="_blank">Ilya Kisel</a></h2>
</footer>
<!-- Footer section end -->


<!--====== Javascripts & Jquery ======-->
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/js/magnific-popup.min.js" th:src="@{/js/magnific-popup.min.js}"></script>
<script type="text/javascript" src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<script type="text/javascript" src="../static/js/circle-progress.min.js"
        th:src="@{/js/circle-progress.min.js}"></script>
<script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>
