<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>МИУ</title>
    <meta charset="UTF-8">

    <link rel="icon" href="http://miu.by/img/logo2.gif">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700|Roboto:300,400,700" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../static/css/flaticon.css" th:href="@{/css/flaticon.css}"/>
    <link rel="stylesheet" href="../static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}"/>
    <link rel="stylesheet" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Header section -->
<header class="header-section">
    <div class="logo" style=" font-size: 24px;">
        МИУ Современные технологии разработки web-приложений
    </div>
    <!-- Navigation -->
    <div class="responsive"><i class="fa fa-bars"></i></div>
    <nav>
        <ul class="menu-list">
            <li><a href="../miu-modern-web-technologies">Главная</a></li>
            <li><a href="../miu-modern-web-technologies/server">Сервер</a></li>
            <li><a href="../miu-modern-web-technologies/database">Базы данных</a></li>
            <li><a href="../miu-modern-web-technologies/client-server">Клиент-сервер</a></li>
            <li class="active"><a href="../miu-modern-web-technologies/html5-css3">HTML5 и CSS3</a></li>
            <li><a href="../miu-modern-web-technologies/web-socket">Веб сокеты</a></li>
        </ul>
    </nav>
</header>
<!-- Header section end -->


<!-- content section -->
<div class="about-section">
    <div class="about-contant">
        <div class="container">

            <div class="section-title">
                <h2>Здравствуйте!</h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 style="  color: white;">HTML5</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3 style="  color: white;">Введение</h3>
                    <p>HTML5 (англ. HyperText Markup Language, version 5) — язык для структурирования и представления
                        содержимого всемирной паутины. Это пятая версия HTML. Хотя стандарт был завершён
                        (рекомендованная версия к использованию) только в 2014 году(предыдущая, четвёртая, версия
                        опубликована в 1999 году), уже с 2013 года[4] браузерами оперативно осуществлялась поддержка,
                        а разработчиками — использование рабочего стандарта (англ. HTML Living Standard). Цель
                        разработки HTML5 — улучшение уровня поддержки мультимедиа-технологий с одновременным сохранением
                        обратной совместимости, удобочитаемости кода для человека и простоты анализа для парсеров.

                        Во всемирной паутине долгое время использовались стандарты HTML 4.01, XHTML 1.0 и XHTML 1.1.
                        Веб-страницы на практике оказывались свёрстаны с использованием смеси особенностей,
                        представленных различными спецификациями, включая спецификации программных продуктов, например
                        веб-браузеров, а также сложившихся общеупотребительных приёмов. HTML5 был создан как единый язык
                        разметки, который мог бы сочетать синтаксические нормы HTML и XHTML. Он расширяет, улучшает и
                        рационализирует разметку документов, а также добавляет единый API для сложных веб-приложений.

                        В HTML5 реализовано множество новых синтаксических особенностей. Например, элементы
                        &lt;video&rsaquo;,
                        &lt;audio&rsaquo; и
                        &lt;canvas&rsaquo;, а также возможность использования SVG и математических формул. Эти новшества
                        разработаны для упрощения создания и управления графическими и мультимедийными
                        объектами в сети без необходимости использования сторонних API и плагинов. Другие
                        новые элементы, такие как
                        &lt;section &rsaquo;,
                        &lt;article&rsaquo;,
                        &lt;header&rsaquo; и
                        &lt;nav&rsaquo;, разработаны для того, чтобы обогащать семантическое содержимое
                        документа (страницы). Новые атрибуты были введены с той же целью,
                        хотя ряд элементов и атрибутов был удалён. Некоторые элементы,
                        например &lt;a&rsaquo;,
                        &lt;menu> и &lt;cite>, были изменены, переопределены или
                        стандартизированы. API и DOM стали основными частями
                        спецификации HTML5. HTML5 также определяет некоторые
                        особенности обработки ошибок вёрстки, поэтому синтаксические
                        ошибки должны рассматриваться одинаково всеми совместимыми
                        браузерами.
                    </p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h3 style="  color: white;"> История HTML</h3>
                    <div><p>Язык HTML был разработан британским учёным Тимом Бернерсом-Ли приблизительно в 1986—1991
                        годах в стенах ЦЕРНа в Женеве в Швейцарии. HTML создавался как язык для обмена научной и
                        технической документацией, пригодный для использования людьми, не являющимися специалистами в
                        области вёрстки. HTML успешно справлялся с проблемой сложности SGML путём определения небольшого
                        набора структурных и семантических элементов — дескрипторов. Дескрипторы также часто называют
                        «тегами». С помощью HTML можно легко создать относительно простой, но красиво оформленный
                        документ. Помимо упрощения структуры документа, в HTML внесена поддержка гипертекста.
                        Мультимедийные возможности были добавлены позже.

                        Изначально язык HTML был задуман и создан как средство структурирования и форматирования
                        документов без их привязки к средствам воспроизведения (отображения). В идеале, текст с
                        разметкой HTML должен был без стилистических и структурных искажений воспроизводиться на
                        оборудовании с различной технической оснащённостью (цветной экран современного компьютера,
                        монохромный экран органайзера, ограниченный по размерам экран мобильного телефона или устройства
                        и программы голосового воспроизведения текстов). Однако современное применение HTML очень далеко
                        от его изначальной задачи. Например, тег table предназначен для создания в документах таблиц, но
                        иногда используется и для оформления
                        размещения элементов на странице. С течением времени основная идея платформонезависимости
                        языка HTML была принесена в жертву современным потребностям в мультимедийном и графическом
                        оформлении.
                    </p></div>
                    <div>
                        <p>
                            WHATWG начал работу над новым стандартом в 2004 году[7], когда World Wide Web Consortium
                            (W3C)
                            сосредоточился на будущих разработках XHTML 2.0, а HTML 4.01 не изменялся с 2000 года[8]. В
                            2009
                            году W3C признал, что срок работы у рабочей группы XHTML 2.0 истёк, и решил не возобновлять
                            его.
                            Впоследствии W3C и WHATWG совместно разрабатывали HTML5[9].

                            Даже несмотря на то, что HTML5 был хорошо известен среди веб-разработчиков в течение
                            нескольких
                            лет, он стал основной темой СМИ только в апреле 2010 года. После этого глава компании Apple
                            Inc.
                            Стив Джобс[10][11][12][13] написал публичное письмо, заголовок которого гласил: «мысли по
                            поводу
                            Flash», где он заключил, что с разработкой HTML5 нет больше необходимости смотреть
                            видеоролики
                            или использовать другие виды приложений с помощью Adobe Flash[14]. По этому поводу
                            вспыхивали
                            дебаты в кругу веб-разработчиков, причём некоторые намекали, что, хотя HTML5 и обеспечивает
                            расширенную функциональность, разработчики должны принимать во внимание различия браузеров и
                            необходимость поддержки различных частей стандартов, равно как и функциональные различия
                            между
                            HTML5 и Flash</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h3 style="  color: white;">CSS </h3>
                    <p>
                        CSS (/siːɛsɛs/ англ. Cascading Style Sheets — каскадные таблицы стилей) — формальный язык
                        описания внешнего вида документа, написанного с использованием языка разметки.

                        Преимущественно используется как средство описания, оформления внешнего вида веб-страниц,
                        написанных с помощью языков разметки HTML и XHTML, но может также применяться к любым
                        XML-документам, например, к SVG или XUL.
                    </p>
                    <div><p>Цель создания CSS
                        CSS используется создателями веб-страниц для задания цветов, шрифтов, расположения отдельных
                        блоков и других аспектов представления внешнего вида этих веб-страниц. Основной целью разработки
                        CSS являлось разделение описания логической структуры веб-страницы (которое производится с
                        помощью HTML или других языков разметки) от описания внешнего вида этой веб-страницы (которое
                        теперь производится с помощью формального языка CSS). Такое разделение может увеличить
                        доступность документа, предоставить большую гибкость и возможность управления его
                        представлением, а также уменьшить сложность и повторяемость в структурном содержимом. Кроме
                        того, CSS позволяет представлять один и тот же документ в различных стилях или методах вывода,
                        таких как экранное представление, печатное представление, чтение голосом (специальным голосовым
                        браузером или программой чтения с экрана), или при выводе устройствами, использующими шрифт
                        Брайля.</p></div>

                    <div><p> CSS-вёрстка
                        До появления CSS оформление веб-страниц осуществлялось исключительно средствами HTML,
                        непосредственно внутри содержимого документа. Однако с появлением CSS стало возможным
                        принципиальное разделение содержания и представления документа. За счёт этого нововведения стало
                        возможным лёгкое применение единого стиля оформления для массы схожих документов, а также
                        быстрое изменение этого оформления.

                        Преимущества:

                        Несколько дизайнов страницы для разных устройств просмотра. Например, на экране дизайн будет
                        рассчитан на большую ширину, во время печати меню не будет выводиться, а на КПК и сотовом
                        телефоне меню будет следовать за содержимым.
                        Уменьшение времени загрузки страниц сайта за счет переноса правил представления данных в
                        отдельный CSS-файл. В этом случае браузер загружает только структуру документа и данные,
                        хранимые на странице, а представление этих данных загружается браузером только один раз и может
                        быть закэшировано.
                        Простота последующего изменения дизайна. Не нужно править каждую страницу, а достаточно лишь
                        изменить CSS-файл.
                        Дополнительные возможности оформления. Например, с помощью CSS-вёрстки можно сделать блок
                        текста, который остальной текст будет обтекать (например для меню) или сделать так, чтобы меню
                        было всегда видно при прокрутке страницы.
                        Недостатки:

                        Различное отображение вёрстки в различных браузерах (особенно устаревших), которые по-разному
                        интерпретируют одни и те же данные CSS.
                        Часто встречающаяся необходимость на практике исправлять не только один CSS-файл, но и теги
                        HTML, которые сложным и ненаглядным способом связаны с селекторами CSS, что иногда сводит на нет
                        простоту применения единых файлов стилей и значительно увеличивает время редактирования и
                        тестирования.</p></div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3 style="  color: white;">История создания и развития CSS</h3>

                    <div><p>CSS — одна из широкого спектра технологий, одобренных консорциумом W3C и получивших общее
                        название «стандарты Web»[1]. В 1990-х годах стала ясна необходимость стандартизировать Web,
                        создать какие-то единые правила, по которым программисты и веб-дизайнеры проектировали бы сайты.
                        Так появились языки HTML 4.01 и XHTML, и стандарт CSS.

                        В начале 1990-х различные браузеры имели свои стили для отображения веб-страниц. HTML развивался
                        очень быстро и был способен удовлетворить все существовавшие на тот момент потребности по
                        оформлению информации, поэтому CSS не получил тогда широкого признания.

                        Термин «каскадные таблицы стилей» был предложен Хокон Виум Ли в 1994 году. Совместно с Бертом
                        Босом он стал развивать CSS.

                        В отличие от многих существовавших на тот момент языков стиля, CSS использует наследование от
                        родителя к потомку, поэтому разработчик может определить разные стили, основываясь на уже
                        определённых ранее стилях.

                        В середине 1990-х Консорциум Всемирной паутины (W3C) стал проявлять интерес к CSS, и в декабре
                        1996 года была издана рекомендация CSS1.</p></div>

                    <div><p>Уровень 1 (CSS1)
                        Рекомендация W3C, принята 17 декабря 1996 года, откорректирована 11 января 1999 года[2]. Среди
                        возможностей, предоставляемых этой рекомендацией:

                        Параметры шрифтов. Возможности по заданию гарнитуры и размера шрифта, а также его стиля —
                        обычного, курсивного или полужирного.
                        Цвета. Спецификация позволяет определять цвета текста, фона, рамок и других элементов страницы.
                        Атрибуты текста. Возможность задавать межсимвольный интервал, расстояние между словами и высоту
                        строки (то есть межстрочные отступы)
                        Выравнивание для текста, изображений, таблиц и других элементов.
                        Свойства блоков, такие как высота, ширина, внутренние (padding) и внешние (margin) отступы и
                        рамки. Также в спецификацию входили ограниченные средства по позиционированию элементов, такие
                        как float и clear.</p></div>

                    <div><p>Уровень 2 (CSS2)
                        Рекомендация W3C, принята 12 мая 1998 года[3]. Основана на CSS1 с сохранением обратной
                        совместимости за несколькими исключениями. Добавление к функциональности:

                        Блочная вёрстка. Появились относительное, абсолютное и фиксированное позиционирование. Позволяет
                        управлять размещением элементов по странице без табличной вёрстки.
                        Типы носителей. Позволяет устанавливать разные стили для разных носителей (например монитор,
                        принтер, КПК).
                        Звуковые таблицы стилей. Определяет голос, громкость и т. д. для звуковых носителей (например
                        для слепых посетителей сайта).
                        Страничные носители. Позволяет, например, установить разные стили для элементов на чётных и
                        нечётных страницах при печати.
                        Расширенный механизм селекторов.
                        Указатели.
                        Генерируемое содержимое. Позволяет добавлять содержимое, которого нет в исходном документе, до
                        или после нужного элемента.
                        В настоящее время W3C больше не поддерживает CSS2 и рекомендует использовать CSS2.1</p></div>

                    <div><p>Уровень 3 (CSS3)
                        CSS3 (англ. Cascading Style Sheets 3 — каскадные таблицы стилей третьего поколения) — активно
                        разрабатываемая спецификация CSS. Представляет собой формальный язык, реализованный с помощью
                        языка разметки. Самая масштабная редакция по сравнению с CSS1, CSS2 и CSS2.1. Главной
                        особенностью CSS3 является возможность создавать анимированные элементы без использования JS[4],
                        поддержка линейных и радиальных градиентов, теней, сглаживания и прочее.

                        Преимущественно используется как средство описания и оформления внешнего вида веб-страниц,
                        написанных с помощью языков разметки HTML и XHTML, но может также применяться к любым
                        XML-документам, например, к SVG или XUL.

                        Разрабатываемая версия (список всех модулей)[5].

                        В отличие от предыдущих версий спецификация разбита на модули, разработка и развитие которых
                        идёт независимо. CSS3 основан на CSS2.1, дополняет существующие свойства и значения и добавляет
                        новые.

                        Нововведения, начиная с малых, вроде закругленных углов блоков, заканчивая трансформацией
                        (анимацией) и, возможно, введением переменных[6][7].</p></div>

                    <div><p>Уровень 4 (CSS4)
                        Разрабатывается W3C с 29 сентября 2011 года.[8][9]

                        Модули CSS4 построены на основе CSS3 и дополняют их новыми свойствами и значениями. Все они
                        существуют пока в виде черновиков (working draft).

                        Например:

                        CSS Cascading and Inheritance Level 4
                        Selectors Level 4
                        CSS Image Values and Replaced Content Module Level 4
                        CSS Backgrounds and Borders Module Level 4
                        CSS Color Module Level 4
                        Media Queries Level 4
                        CSS Pseudo-Elements Module Level 4
                        CSS Text Module Level 4</p></div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- content section end -->


<!-- Footer section -->
<footer class="footer-section">
    <h2>2019 All rights reserved. Done by <a href="https://github.com/llka" target="_blank">Ilya Kisel</a></h2>
</footer>
<!-- Footer section end -->


<!--====== Javascripts & Jquery ======-->
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/js/magnific-popup.min.js" th:src="@{/js/magnific-popup.min.js}"></script>
<script type="text/javascript" src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<script type="text/javascript" src="../static/js/circle-progress.min.js"
        th:src="@{/js/circle-progress.min.js}"></script>
<script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>
