<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>МИУ</title>
    <meta charset="UTF-8">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700|Roboto:300,400,700" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../static/css/flaticon.css" th:href="@{/css/flaticon.css}"/>
    <link rel="stylesheet" href="../static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}"/>
    <link rel="stylesheet" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Header section -->
<header class="header-section">
    <div class="logo" style=" font-size: 24px;">
        МИУ Современные технологии разработки web-приложений
    </div>
    <!-- Navigation -->
    <div class="responsive"><i class="fa fa-bars"></i></div>
    <nav>
        <ul class="menu-list">
            <li class="active"><a href="./modern-web-technologies/">Главная</a></li>
            <li><a href="../modern-web-technologies/server">Сервер</a></li>
            <li><a href="modern-web-technologies/database">Базы данных</a></li>
            <li><a href="modern-web-technologies/client-server">Клиент-сервер</a></li>
            <li><a href="modern-web-technologies/html5-css3">HTML5 и CSS3</a></li>
            <li><a href="modern-web-technologies/web-socket">Веб сокеты</a></li>
        </ul>
    </nav>
</header>
<!-- Header section end -->


<!-- content section -->
<div class="about-section">
    <div class="about-contant">
        <div class="container">
            <div class="section-title">
                <h2>Здравствуйте!</h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 style="  color: white;">Веб Сервер</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>Введение</h3>
                    <p>Понятие «веб-сервер» может относиться как к аппаратной начинке, так и к программному обеспечению.
                        Или даже к обеим частям, работающим совместно.

                        С точки зрения "железа", «веб-сервер» — это компьютер, который хранит файлы сайта
                        (HTML-документы, CSS-стили, JavaScript-файлы, картинки и другие) и доставляет их на устройство
                        конечного пользователя (веб-браузер и т.д.). Он подключен к сети Интернет и может быть доступен
                        через доменное имя, подобное mozilla.org.
                        С точки зрения ПО, веб-сервер включает в себя несколько компонентов, которые контролируют доступ
                        веб-пользователей к размещенным на сервере файлам, как минимум — это HTTP-сервер. HTTP-сервер —
                        это часть ПО, которая понимает URL’ы (веб-адреса) и HTTP (протокол, который ваш браузер
                        использует для просмотра веб-страниц).
                        На самом базовом уровне, когда браузеру нужен файл, размещенный на веб-сервере, браузер
                        запрашивает его через HTTP-протокол. Когда запрос достигает нужного веб-сервера ("железо"),
                        сервер HTTP (ПО) принимает запрос, находит запрашиваемый документ (если нет, то сообщает об
                        ошибке 404) и отправляет обратно, также через HTTP.
                        Чтобы опубликовать веб-сайт, необходим либо статический, либо динамический веб-сервер.

                        Статический веб-сервер, или стек, состоит из компьютера ("железо") с сервером HTTP (ПО). Мы
                        называем это «статикой», потому что сервер посылает размещенные файлы в браузер «как есть».

                        Динамический веб-сервер состоит из статического веб-сервера и дополнительного программного
                        обеспечения, чаще всего сервера приложения и базы данных. Мы называем его «динамическим», потому
                        что сервер приложений изменяет исходные файлы перед отправкой в ваш браузер по HTTP.

                        Например, для получения итоговой страницы, которую вы просматриваете в браузере, сервер
                        приложений может заполнить HTML-шаблон данными из базы данных. Такие сайты, как MDN или
                        Википедия, состоят из тысяч веб-страниц, но они не являются реальными HTML документами — лишь
                        несколько HTML-шаблонов и гигантские базы данных. Эта структура упрощает и ускоряет
                        сопровождение веб-приложений и доставку контента.</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h3>Что делает веб-сервер</h3>
                    <p>
                        Его главная задача – хранение информации. Страницы, файлы, изображения, текстовый контент.</p>
                    Задачи:

                    <div> Получать запросы.</div>
                    <div> Запускать программы на специальных языках программирования (серверных).</div>
                    <div> Формировать веб страницы.</div>
                    <div> Отправлять их назад пользователю.</div>
                    <div> Защищать информацию.</div>
                    <div> Проводить идентификацию посетителей.</div>
                    <div> Вести журнал обращений.</div>
                    <div> Обслуживать запросы других типов: mailto, FTP и т.д.</div>
                    <div> Чтобы понять, как работает веб-сервер, надо иметь представление о принципах передачи
                        информации в сети. В основе лежат правила, называемые протоколами: любой URL начинается с
                        указания типа (ftp, http://, https:// и пр.).
                    </div>
                    <div> Hyper Text Transfer Protocol – протокол передачи гипертекста. Страницы сайта всегда имеют
                        вид гипертекстового документа. Это конечный результат работы любой серверной или клиентской
                        программы.

                        Когда пользователь вводит адрес или нажимает ссылку, браузер передает запрос, кодируя
                        информацию по этим правилам.
                        Хост, к которому привязан этот адрес, запускает программы сервера. Каждая из них выполняет
                        свои функции.
                        Полученные данные расшифровываются, команды выполняются.
                        Формируется гипертекст, кодируется и отправляется обратно.
                        Браузер получает ответ, преобразовывает код в html и показывает на экране страницу.
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h3>Самые распространенные сервера</h3>
                    <p>
                        Далее мы рассмотрим популярные оболочки — системы управления серверами.

                        Apache
                        Это бесплатный, свободно распространяемый продукт, у которого есть масса преимуществ:

                        Постоянная поддержка разработчиков.
                        Модули для работы с серверными языками программирования PHP, Perl, Python, Ruby, ASP и т.д.
                        Открытый код. Доработкой под свои нужды занимаются разные программисты. Например, русскоязычное
                        сообщество адаптирует его к русской кодировке.
                        Кроссплатформенность. Изначально был создан под Unix, но сейчас поддерживается Windows, Mac OS,
                        BSD, Linux, OS/2 и Novell NetWare.
                        Безопасность.
                        При инсталляции укажите имя вашего хоста, например, localhost. В папку htdocs, которая лежит
                        внутри папки Apachex.x (где x.x – номер версии) скопируйте любую html-страницу. Или создайте ее
                        в блокноте, введя любой текст и сохранив с расширением html.

                        Когда в папке появился файл, откройте браузер и наберите адрес: localhost://ИМЯ СТРАНИЦЫ.html.
                        На экране появится ваш текст – страница открыта с сервера. Если вы увидели ошибку «Не удается
                        получить доступ к сайту», значит не запущен Apache. Его значок находится в трее.
                        Нажмите на него и выберите «Play». После этого все заработает.

                        NGNIX
                        Доля работающих на нем активных площадок составляет 21,13% (исследования Netcraft). Его в
                        основном используют крупные компании и профессиональные разработчики: Yandex, Mail.ru, Rambler и
                        пр. NGNIX выдерживает огромную нагрузку посетителей, надежен, безопасен и продуман.
                        Распространяется свободно, но появились платные версии Plus, стоимость от 2,500 $.

                        IIS
                        Его известность обеспечена громким именем разработчика. Представляет собой набор веб служб и
                        интегрирован с Windows. Родной платформой программирования является ASP.NET, но можно внедрить и
                        альтернативу, например, РНР.

                        Для полноценного хостинга требуется установка серверной операционной системы от Microsoft –
                        Windows Server. 6-я версия вообще не была предназначена для хостинга, полноценная поддержка
                        началась в 7-й. Приобретается он автоматически вместе с операционной системой и зависит от ее
                        характеристик.
                    </p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h3></h3>
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content section end -->


<!-- Footer section -->
<footer class="footer-section">
    <h2>2019 All rights reserved. Done by <a href="https://github.com/llka" target="_blank">Ilya Kisel</a></h2>
</footer>
<!-- Footer section end -->


<!--====== Javascripts & Jquery ======-->
<script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/magnific-popup.min.js}"></script>
<script type="text/javascript" th:src="@{js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{js/circle-progress.min.js}"></script>
<script type="text/javascript" th:src="@{js/main.js}"></script>

</body>
</html>
